<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registros de Empleados</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
  <thead class="thead-dark">
  <tr>
    <th>Empleado ID </th>
    <th>Empleado Nombre</th>
    <th>Empleado Email</th>
    <th>Empleado Puesto</th>
    <th>Empleado Contacto</th>
    <th>Cambios/th>
  </tr>
  </thead>
  <tbody>
  {% for empleados in empleado %}
  <tr>
    <td>{{ empleados.eid }}</td>
    <td>{{ empleados.ename }}</td>
    <td>{{ empleados.eemail }}</td>
    <td>{{ empleados.epos }}</td>
    <td>{{ empleados.econtact }}</td>
    <td>
      <a href="/edit/{{ empleados.id }}"><span class="glyphicon glyphicon-pencil" >Editar</span></a>
      <a href="/delete/{{ empleados.id }}">Destruir</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<br>
<br>
<a href="/emp" class="btn btn-primary">Añadir Empleado</a></center>
</body>
</html>